:root {
  --white: #fff;
  --primary-color: #ab84dd;
}

.hideabout {
  opacity: 0;
  transform: translateY(25%);
}

.showabout {
  opacity: 1;
  transform: translateY(0);
  transition: all 1s;
}

.text-color {
  color: var(--white);
}

.about-main-container {
  height: 90vh;
}

.about-container {
  width: 70vw;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.about-heading {
  text-align: center;
  font-size: 4rem;
  text-decoration: underline 4px solid var(--primary-color);
  text-underline-offset: 1rem;
}

.info {
  font-size: 2rem;
  line-height: 3rem;
}

.avatar-container {
  padding-left: 9rem;
  padding-top: 3rem;
}

@media (max-width: 1200px) and (orientation: landscape) {
  .about-container {
    width: 80vw;
    margin-top: 1.5rem;
  }
  
  .info {
    font-size: 1.5rem
  }
}

@media (max-width: 1600px) and (orientation: landscape) {
  .about-heading {
    margin-bottom: 2rem;
  }
}

@media (max-width: 1200px) and (orientation: portrait) {
  .about-container {
    width: 90vw;
    margin-top: 1.5rem;
  }

  .info {
    font-size: 1.3rem
  }

  .avatar-container {
    padding-left: 0;
  }
}

@media (max-width: 1024px) {
  .info {
    font-size: 1.1rem
  }

  .avatar-container {
    padding-left: 0;
  }

  .about-container {
    width: 90vw;
  }

  .about-heading {
    font-size: 3rem;
  }
}

@media (max-width: 768px) {
  .info {
    font-size: 1rem;
    line-height:2.75rem;
  }
}

@media (max-width: 601px) {
  .avatar-container {
    display: none;
  }

  .info {
    font-size: 1.5rem;
    line-height:3rem;
    text-align: center;
  }

  .about-heading {
    font-size: 5rem;
  }
}

@media (max-width: 475px) {
  .info {
    font-size: 1.25rem;
    line-height:2.75rem;
    text-align: center;
  }

  .about-heading {
    font-size: 3rem;
  }
}

@media (max-width: 375px) {
  .info {
    font-size: 1rem;
    line-height:2.5rem;
    text-align: center;
  }

  .about-heading {
    font-size: 2.5rem;
  }
}
