.contact-container {
    margin: 16rem auto;
    max-height: 100vh;
    max-width: 60vw;
    display: flex;
    flex-direction: column;
    
}

.hidecontact {
    opacity: 0;
    transform: translateY(100%);
  }
  
  .showcontact {
    opacity: 1;
    transform: translateY(0);
    transition: all 1s;
  }

.contact-form-header {
    position: relative;
    color: white;
    font-size: 3rem;
    text-decoration: underline 4px solid var(--primary-color);
    text-underline-offset: 1rem;
    padding-bottom: 2rem;
    margin: 0 auto;
}

.contact-form {
    display: flex;
    flex-direction: column;
    color: var(--primary-color);
    
    
    
}

.contact-form label {
    font-size: 2rem;
    padding-block: 0.5rem;
    
    
}

.contact-form input[type="text"], input[type="email"] {
    height: 2rem;
    font-size: 1.5rem;
    background-color: var(--primary-color1);
    border: none;
    border-bottom: 2px solid white;
    color: white !important
}

.contact-form input[type="text"]:focus, input[type="email"]:focus {
    outline: none;
    border-bottom: 2px solid var(--primary-color);
}

.contact-form textarea {
    font-size: 1rem;
    background-color: var(--primary-color1);
    border: none;
    border: 1px solid rgba(255, 255, 255, 0.164);
    color: white;
}

.contact-form textarea:focus {
    outline: 1px solid var(--primary-color);
}

.submit-btn[type="submit"] {
    margin-top: 1rem;
    padding-block: 1rem;
    background-color: var(--white);
    color: var(--primary-color-dark);
    cursor: pointer;
    border-radius: 1rem;
}

.submit-btn:hover {
    background-color: var(--primary-color);
    box-shadow: 0px 15px 20px var(--primary-color-light);
    color: #fff;
    
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: var(--white);
    font-family: 'Montserrat Alternates', sans-serif !important;
    font-size: 1.5rem;
}

@media (max-width: 1024px) {
    .contact-container {
        max-width: 90vw;
    }
}

@media (max-width: 1440px) {
    .contact-container {
        max-width: 80vw;
    }
}

@media (max-width: 768px) {
    .contact-container {
        max-width: 90vw;
    }
}