:root {
  --logo-color: #AB84DD;
}

.logo {
  width: 5rem;
  height: 5rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: 1rem;
  padding-block: 1rem;
  font-size: 2rem;
}

.nav-links {
  display: flex;
}

.nav-links li {
  list-style-type: none;
  padding-inline: 2rem;
  
}

.nav-links a {
   color: var(--logo-color); 
}

nav.sticky {
    position: sticky;
    top: 0;
    z-index: 100;
}