:root {
  --logo-color: #AB84DD;
  --primary-color-bg: black;
  --nav-scroll-color: #0b0013;
}

.hidenav {
  opacity: 0;
    transform: translateY(-80%);
}

.shownav {
  opacity: 1;
    transform: translateY(0);
    transition: all 1.5s;
}

.nav-link:nth-child(2) {
  transition-delay: 150ms;
}

.nav-link:nth-child(3) {
  transition-delay: 300ms;
}

.nav-link:nth-child(4) {
  transition-delay: 450ms;
}

.logo {
  width: 5rem;
  height: 5rem;
  cursor: pointer;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 6rem;
  font-size: 2rem;
  z-index: 100;
  width: 100vw;
}

.scroll {
  background-color: var(--nav-scroll-color);
  width: 100vw
  
}

.nav-links {
  display: flex;
  color: var(--white); 
}

.nav-links a {
  list-style-type: none;
  padding-inline: 2rem;
   cursor: pointer;
}


.sticky {
    position: sticky;
    top: 0;
    z-index: 100;
}

div.brackets a:not(.active):before, div.brackets a:not(.active):after
{
    opacity: 0;
    transition: all 1s !important;
}

div.brackets a:before
{
    content: '{ ';
}

div.brackets a:after
{
  content: ' }';
}

div.brackets a:hover:before, div.brackets a:hover:after
{
    opacity: 1;
}

.active {
  color: var(--logo-color);
}

@media (max-width: 1200px) and (orientation: landscape) {
  .nav {
    font-size: 1.5rem;
  }
}

@media (max-width: 1200px) and (orientation: portrait) {
  .logo {
    width: 4rem
  }
  .nav {
    font-size: 1.25rem;
    padding-inline: 1rem
  }

  .nav-links a {
    padding-inline: 1.5rem
  }

  
}




