.hideproject {
  opacity: 0;
  transform: translateX(10%);
}

.showproject {
  opacity: 1;
  transform: translateX(0);
  transition: all 1s;
}

.hideproject2 {
  opacity: 0;
  transform: translateX(-10%);
}

.showproject2 {
  opacity: 1;
  transform: translateX(0);
  transition: all 1s;
}

.project-container {
  max-width: 1024px;
  margin:24rem auto;
  min-height: 100vh;
}

.project-header {
  color: white;
  font-size: 4rem;
  text-decoration: underline 4px solid var(--primary-color);
  text-underline-offset: 1rem;
  padding-bottom: 2rem;
  text-align: center;
  position: relative;
}

.project {
  margin: 30px;
  display: flex;
  flex-direction: row;
  margin-block: 6rem;
  align-items: center;
}

.project-flipped {
  flex-direction: row-reverse;
}

.project-content {
  display: flex;
  flex-direction: column;
}

.project-content-flipped {
  align-items: flex-end;
}

.project-content a {
  display: inline-block;
  
}

.project-title a {
  font-size: 2rem;
  margin: 10px 0 30px;
  color: var(--white);
  max-width: fit-content;
}

.project-title a:hover {
  color: var(--primary-color);
  max-width: fit-content;
}

.project-details-container-flipped {
  display: flex;
  flex-direction: column;
  align-items: flex-end
}

.project-description {
  position: relative;
  font-size: 15px;
  line-height: 1.5;
  color: #aaa;
  z-index: 2 !important;
  height: max-content;
  max-width: 100%;
}

.project-description p {
  background-color: #252525;
  padding: 20px 25px;
  border-radius: 1.3rem;
}

.project-tools ul {
  display: flex;
  margin-top: 1rem;
  max-width: fit-content;
}



.project-tools li {
  margin-right: 1.25rem;
  color: #aaa;
  list-style: none;
}

.project-tools2 li {
  margin-right: 0px;
  margin-left: 1.25rem;
}

.project-links-svg svg {
  width: 24px;
  height: 24px;
  margin-right: 20px;
  margin-top: 1rem;
}

.project-links-svg2 svg {
  margin-right: 0;
  margin-left: 20px;
}

.project-links-svg svg:hover {
  cursor: pointer;
  stroke: var(--primary-color);
}
.project-img {
  position:relative;
  right: 3rem;
  background-color: #aaa;
  max-width: 100%;
  height:auto;
  cursor: pointer;
  border-radius: 1.3rem;
  transition: all 0.2s ease-in-out;
  z-index: 0;
}

.project-img2 {
  right: 0;
  left:3rem;
}



.project-img img {
  position: relative;
  max-width: 100%;
  vertical-align: middle;
  mix-blend-mode: multiply;
  border-radius: 1.3rem;
}

.project-img img:hover {
  mix-blend-mode: normal;
  border-radius: 1.3rem;
  border: 3px solid var(--primary-color);
}

.project-img:hover {
  transform: translate(0, -1rem);
}



/* MEDIA QUERIES */



@media (max-width: 824px) {
  .project-description p {
    background-color: transparent;
    padding: 0;
  }

  .project-content {
    padding: 2rem 7rem 9rem 1rem;
  }

  .project-content-flipped {
    padding: 2rem 1rem 20rem 7rem;
  }

  .project-img {
    opacity: 0.25;
    position: absolute;
    z-index: -1;
    margin: 0 auto;
    right: 0
  }

  .project-img2 {
    left: 0;
  }

  .project {
    flex-direction: column;
  }

  .project-img:hover {
    transform: translate(0, 0);
  }

  .project-title a{
    color: var(--primary-color);
  }

  .project-links-svg svg {
    stroke: var(--primary-color);
  }

}

@media (max-width: 660px) {
  .project-content {
    padding: 0.5rem 1rem 8rem 1rem;
  }

  .project-content-flipped {
    padding: 1rem 1rem 1rem 1rem;
    align-items: flex-start
  }

  .project-title a {
    margin: 10px 0 0px 0px;
  }

  .project-details-container-flipped {
    align-items: flex-start;
  } 
}

@media (max-width: 550px) {
  .project-img {
    position: relative;
    opacity: 1;
  }

  .project-content {
    padding: 0;
    padding-bottom: 1rem;
  }
  .project-description p, .project-tools li {
    color: var(--white)
  }

  .project-tools2 li, .project-links-svg2 svg {
    margin-left: 0;
    margin-right: 1rem
  }
}

@media (max-width: 1024px) {
  .project {
    margin: 50px;
  }

  .project2 {
    margin: 50px;
  }

  .project-title, .project-title2 a{
    font-size: 1.5rem;
  }

  .project-container {
    max-width: 950px;
    margin: 24rem auto;
    height: 100vh;

  }
}

@media (max-width: 1200px) {
  .project2 {
    margin: 50px;
  }
}
