.hideside {
    opacity: 0;
    transform: translateX(100%);
  }
  
  .showside {
    opacity: 1;
    transform: translateX(0);
    transition: all 1.5s;
  }

  .left-sidebar-links {
    position: fixed;
    bottom: 0;
    right: 100px;
    z-index: 2;
    transition-delay: 1600ms;
  }

.left-links {
    display: flex;
    flex-direction: column;
    position: relative;
}

.left-links a {
    margin-block: 0.5rem;
}

.left-links svg:hover {
    stroke: var(--primary-color);
    transform: translate(0, -0.5rem);
}
.left-links::after {
    content: '';
    display: block;
    width: 1px;
    height: 150px;
    margin: 0 auto;
    background-color: lightgrey;
}

.left-links svg {
    width: 36px;
    height: 36px;
    transition: all 0.2s ease-in-out
}

@media (max-width: 1200px) and (orientation: landscape) {
  .left-sidebar-links {
    right: 50px
  }
}

@media (max-width: 1024px) and (orientation: landscape) {
  .left-sidebar-links {
    display: none;
  }
}

@media (max-width: 1200px) and (orientation: portrait) {
  .left-sidebar-links {
    display: none;
  }
}