@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');

:root {
  --primary-color1: #150122;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Montserrat Alternates', sans-serif;
}

body {
  background-color: var(--primary-color1);
  overflow-x: hidden;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.banner {
  height: 200vh;
  background: var(--primary-color1);
}

body::-webkit-scrollbar {
  width: 0.75rem;
}
 
body::-webkit-scrollbar-track {
  background-color: black;
   
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 1rem;
  background-color: var(--logo-color);
 
 
}
